---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h3>SPORTOWY KLUB TANECZNY "ALCHEMIA WRZEŚNIA"</h3>
	<p>UL. 68 Pułku Piechoty 4, 62-300 WRZEŚNIA</p>
	<p>TEL: +48 728 491 623</p>
	<p>E-mail: swidurska.k@wp.pl</p>
</Layout>
