---
import "./index.css"
---
<div class="navbar bg-base-100 shadow-sm">
        <a class="btn btn-ghost text-xl" href="/">O nas</a>
        <a class="btn btn-ghost text-xl" href=/news>Aktualności</a>
        <a class="btn btn-ghost text-xl" href="/contact">Kontakt</a>
</div>