---
import Navbar from '../components/navbar/Navbar.astro';
import "../assets/global.css";
---

<!doctype html>
<html data-theme="corporate" lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SKT Alchemia</title>
	</head>
	<body>
        <Navbar />
	    <main>
		    <slot />
		</main>
	</body>
</html>
